* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

.todo-app {
  width: 100%;
  max-width: 540px;
  margin: 100px auto;
  padding: 40px 30px 70px;
  background: #fff;
  border-radius: 10px;
}

h2 {
  text-align: center;
  color: #4000c9;
}

.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
}

button {
  padding: 12px 25px;
  background-color: #4000c9;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 30px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  padding: 12px;
  font-size: 18px;
  border-bottom: 1px solid #ccc;
  position: relative;
}

li.checked {
  text-decoration: line-through;
  color: #999;
}

li span {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
  color: red;
}

span:hover {
  color: darkred;
}
